In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from translate import Translator
import pickle

### Translation of Medals data

In [17]:
medals = pd.read_csv("data_csv/medailles.csv")
medals.head()

   Place             Pays  Or  Argent  Bronze  Total   Lieu  Annee
0      1       Etats Unis  38      41      34    113  Tokyo   2021
1      2            Chine  36      32      18     86  Tokyo   2021
2      3            Japon  27      12      16     55  Tokyo   2021
3      4  Grande Bretagne  22      21      22     65  Tokyo   2021
4      5           Russie  20      28      23     71  Tokyo   2021

In [18]:
# let's change the column names of the medals dataframe to Place, Country, Gold, Silver, Bronze, Total, Location, Year
medals.columns = ['Place', 'Country', 'Gold', 'Silver', 'Bronze', 'Total', 'Location', 'Year']
medals.head(15)

    Place           Country  Gold  Silver  Bronze  Total Location  Year
0       1        Etats Unis    38      41      34    113    Tokyo  2021
1       2             Chine    36      32      18     86    Tokyo  2021
2       3             Japon    27      12      16     55    Tokyo  2021
3       4   Grande Bretagne    22      21      22     65    Tokyo  2021
4       5            Russie    20      28      23     71    Tokyo  2021
5       6         Australie    17       7      21     45    Tokyo  2021
6       7          Pays-Bas    10      12      14     36    Tokyo  2021
7       8            France    10      12      11     33    Tokyo  2021
8       9            Italie    10      10      20     40    Tokyo  2021
9      10         Allemagne    10      10      16     36    Tokyo  2021
10     11            Canada     7       6      11     24    Tokyo  2021
11     12            Brésil     7       6       8     21    Tokyo  2021
12     13  Nouvelle-Zélande     7       6       7     20    Tokyo  2021
13     14              Cuba     7       3       5     15    Tokyo  2021
14     15           Hongrie     6       7       7     20    Tokyo  2021

In [20]:
# Create a Translator object
translator = Translator(to_lang="en", from_lang="fr")

# Extract unique values from 'Country' and 'Location' columns
unique_countries = medals['Country'].unique()
unique_locations = medals['Location'].unique()

# Create an empty dictionary to store translations
translations_dict = {}

# Translate unique countries
for country in unique_countries:
    try:
        translation = translator.translate(country)
        translations_dict[country] = translation
    except Exception as e:
        translations_dict[country] = country  # Use the original word if translation fails

# Translate unique locations
for location in unique_locations:
    try:
        translation = translator.translate(location)
        translations_dict[location] = translation
    except Exception as e:
        translations_dict[location] = location  # Use the original word if translation fails

# Display the translations dictionary
print(translations_dict)

{'Etats Unis': 'United States of America', 'Chine': 'China', 'Japon': 'Japan', 'Grande Bretagne': 'Great Britain', 'Russie': 'Russia', 'Australie': 'Australia', 'Pays-Bas': 'Netherlands', 'France': 'France', 'Italie': 'Observations of Italy', 'Allemagne': 'Statement in intervention submitted by Germany', 'Canada': 'Canada', 'Brésil': 'Brazil', 'Nouvelle-Zélande': 'New Zealand', 'Cuba': 'Cuba', 'Hongrie': 'Hungary', 'Corée du Sud': 'South Korea', 'Pologne': 'Poland', 'République Tchèque': 'Czech Republic', 'Kenya': 'le Kenya', 'Norvège': 'Norway', 'Jamaïque': 'Jamaica', 'Espagne': 'Observations of Spain', 'Suède': 'Sweden', 'Suisse': 'Switzerland', 'Danemark': 'Denmark', 'Croatie': 'Croatia', 'Iran': 'Iran', 'Serbie': 'Serbia', 'Belgique': 'Belgium', 'Slovénie': 'Slovenia', 'Ouzbékistan': 'Uzbekistan', 'Géorgie': 'Georgia', 'Taïwan': 'Taiwan', 'Turquie': 'Turkey', 'Bulgarie': 'Bulgaria', 'Grèce': 'Greece', 'Ouganda': 'Uganda', 'Equateur': 'Equateur', 'Irlande': 'Statement in intervention submitted by Ireland', 'Israël': 'Israel', 'Lettonie': 'Latvia', 'Qatar': 'Qatar', 'Bahamas': 'Bahamas', 'Kosovo': 'Kosovo', 'Ukraine': 'Ukraine', 'Biélorussie': 'Belarus', 'Roumanie': 'Romania', 'Venezuela': 'Venezuela', 'Inde': 'India', 'Hong-Kong': 'Hong Kong', 'Philippines': 'Philippines', 'Slovaquie': 'Slovakia', 'Afrique du Sud': 'South Africa', 'Autriche': 'Observations of Austria', 'Egypte': 'Egypt', 'Indonésie': 'Indonesia', 'Ethiopie': 'Ethiopia', 'Portugal': 'Portugal', 'Tunisie': 'Tunisia', 'Estonie': 'Reply of Estonia', 'Fidji': 'Fiji', 'Thaïlande': 'Thailand', 'Bermudes': 'Bermuda', 'Maroc': 'Morocco', 'Porto Rico': 'Puerto Rico', 'Colombie': 'Colombia', 'Azerbaïdjan': 'Azerbaijan', 'République Dominicaine': 'Dominican Republic', 'Arménie': 'Armenia', 'Kirghizistan': 'Kyrgyzstan', 'Mongolie': 'Mongolia', 'Argentine': 'Argentina', 'Saint-Marin': 'San Marino', 'Jordanie': 'Jordan', 'Malaisie': 'Malaysia', 'Nigéria': 'Nigeria', 'Arabie Saoudite': 'Saudi Arabia', 'Bahreïn': 'Bahrain', 'Lituanie': 'Lithuania', 'Macédoine du Nord': 'North Macedonia', 'Namibie': 'Namibia', 'Turkménistan': 'Turkmenistan', 'Kazakhstan': 'Kazakhstan', 'Mexique': 'Mexico', 'Finlande': 'Finland', 'Botswana': 'Botswana', 'Burkina Faso': 'Burkina Faso', 'CIO': 'CIO', "Côte d'Ivoire": "Cote d'Ivoire", 'Ghana': 'Ghana', 'Grenade': 'Pomegranate', 'Moldavie': 'Republic Of Moldova', 'Syrie': 'Syria', 'Corée du Nord': 'North Korea', 'Viêt Nam': 'Vietnam', 'Singapour': 'Singapore', 'Tadjikistan': 'Tajikistan', 'Algérie': 'Algeria', 'Burundi': 'Burundi', 'Niger': 'Niger', 'Emirats Arabes Unis': 'United Arab Emirates', 'Trinité-et-Tobago': 'Trinidad and Tobago', 'Chypre': 'Cyprus', 'Gabon': 'Gabon', 'Guatemala': 'Guatemala', 'Monténégro': 'Montenegro', 'Afghanistan': 'Afghanistan', 'Cameroun': 'Cameroon', 'Zimbabwe': 'Zimbabwe', 'Panama': 'Panama', 'Chili': 'Chile', 'Islande': 'Iceland', 'Samoa': 'Samoa', 'Soudan': 'Sudan', 'Ile Maurice': 'Mauritius', 'Togo': 'Togo', 'Paraguay': 'Paraguay', 'Erythrée': 'Eritrea', 'Yougoslavie': 'Yugoslavia', 'Mozambique': 'Mozambique', 'Sri Lanka': 'Sri Lanka', 'Uruguay': 'Uruguay', 'Costa Rica': 'Costa Rica', 'Barbade': 'Barbados', 'Koweït': 'Kuwait', 'Tonga': 'Tonga', 'Zambie': 'Zambia', 'Communauté des États indépendants': 'Commonwealth of Independent States', 'Tchécoslovaquie': 'Czechoslovakia', 'International': 'International', 'Pérou': 'Peru', 'Pakistan': 'Pakistan', 'Suriname': 'Suriname', 'U.R.S.S.': 'U.R.S.S.', "Allemagne de l'Est": 'East Germany', "Allemagne de l'Ouest": 'West Germany', 'Antilles Néerlandaises': 'Netherlands Antilles', 'Iles Vierges Américaines': 'Virgin Islands', 'Sénégal': 'Senegal', 'Djibouti': 'Djibouti', 'Tanzanie': 'Tanzania', 'Guyana': 'Guyana', 'Liban': 'Lebanon', 'Indes Occidentales': 'West India', 'Irak': 'Iraq', 'Luxembourg': 'Luxembourg', 'Haïti': 'Haiti', 'Australasie': 'Australasia', 'Bohême': 'Bohême', 'Empire Ottoman': 'Germany, Empire', 'Tokyo': 'Tokyo', 'Rio de Janeiro': 'Rio de Janeiro', 'Londres': 'London', 'Pékin': 'Beijing', 'Athènes': 'Athens', 'Sydney': 'Sydney', 'Atlanta': 'Atlanta', 'Barcelone': 'Barcelona', 'Séoul': 'Seoul', 'Los Angeles': 'Los Angeles', 'Moscou': 'Moscow', 'Montréal': 'Montreal', 'Munich': 'Munich', 'Mexico': 'Mexico', 'Rome': 'Rome', 'Melbourne': 'Melbourne', 'Helsinki': 'Helsinki', 'Berlin': 'Berlin', 'Amsterdam': 'Amsterdam', 'Paris': 'Paris', 'Anvers': 'Antwerp', 'Stockholm': 'Stockholm', 'Saint Louis': 'Saint Louis'}

In [22]:
# we create a pickle to save the translation dictionary
with open('pickles/translations_dict.pickle', 'wb') as handle:
    pickle.dump(translations_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [23]:
# we load the pickle
with open('pickles/translations_dict.pickle', 'rb') as handle:
    translations_dict = pickle.load(handle)

In [24]:
# let's apply the translation to all the elements of the Country and Location columns
medals['Country'] = medals['Country'].apply(lambda x: translations_dict[x])
medals['Location'] = medals['Location'].apply(lambda x: translations_dict[x])
medals.head(15)

,Place,Country,Gold,Silver,Bronze,Total,Location,Year
0,1,United States of America,38,41,34,113,Tokyo,2021
1,2,China,36,32,18,86,Tokyo,2021
2,3,Japan,27,12,16,55,Tokyo,2021
3,4,Great Britain,22,21,22,65,Tokyo,2021
4,5,Russia,20,28,23,71,Tokyo,2021
5,6,Australia,17,7,21,45,Tokyo,2021
6,7,Netherlands,10,12,14,36,Tokyo,2021
7,8,France,10,12,11,33,Tokyo,2021
8,9,Observations of Italy,10,10,20,40,Tokyo,2021
9,10,Statement in intervention submitted by Germany,10,10,16,36,Tokyo,2021
10,11,Canada,7,6,11,24,Tokyo,2021
11,12,Brazil,7,6,8,21,Tokyo,2021
12,13,New Zealand,7,6,7,20,Tokyo,2021
13,14,Cuba,7,3,5,15,Tokyo,2021
14,15,Hungary,6,7,7,20,Tokyo,2021

### Data Analysis from Medals data