## Olympics environnemental impact analysis

In [26]:
# let's scrape some data from the web
# https://stats.oecd.org/Index.aspx?DataSetCode=air_ghg

Scraping data from : https://stats.oecd.org/Index.aspx?DataSetCode=air_ghg

In [27]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tqdm as tqdm
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select

In [28]:
driver = webdriver.Firefox()
driver.get("https://stats.oecd.org/Index.aspx?DataSetCode=air_ghg")

Drop-down menu :

In [29]:
menu = '//*[@id="PDim_VAR"]' 
element = driver.find_element(By.XPATH,menu).click()

Choosing the emmission sector :

In [30]:
sleep(2)
npage = 2
xpath_expression = "//select/option[@value ='2~ENER_IND']" # 0~GHG
sector = driver.find_element(By.XPATH, xpath_expression).click()

BeautifulSoup to parse the html :

In [31]:
soup = bs(driver.page_source, 'html.parser')
table = soup.find('table', {'class': 'DataTable'})
# we want to find all tr in the table with an id starting with row
rows = table.findAll('tr', {'id': lambda L: L and L.startswith('row')})
# we display the first rows
rows[:5]

[<tr class="row1" id="row1"><td class="RowDimLabel" colspan="2">Australia</td><td class="RowDimLabel"></td><td class="Data">143 172.76</td><td class="Data">146 396.55</td><td class="Data">149 719.80</td><td class="Data">151 492.72</td><td class="Data">152 307.64</td><td class="Data">158 140.20</td><td class="Data">162 742.64</td><td class="Data">169 413.37</td><td class="Data">182 065.82</td><td class="Data">189 654.80</td><td class="Data">192 519.66</td><td class="Data">200 056.94</td><td class="Data">202 550.84</td><td class="Data">205 188.59</td><td class="Data">214 175.42</td><td class="Data">216 528.07</td><td class="Data">221 026.74</td><td class="Data">224 087.96</td><td class="Data">225 886.85</td><td class="Data">232 820.84</td><td class="Data">226 959.03</td><td class="Data">221 003.02</td><td class="Data">222 772.02</td><td class="Data">211 608.43</td><td class="Data">205 575.02</td><td class="Data">212 312.51</td><td class="Data">219 696.63</td><td class="Data">218 631.00</td><td class="Data">214 859.15</td><td class="Data">213 954.25</td><td class="Data">207 918.77</td><td class="Data">198 077.78</td></tr>,
 <tr class="row2" id="row2"><td class="RowDimLabel2" colspan="2">Austria</td><td class="RowDimLabel2"></td><td class="Data2">14 007.51</td><td class="Data2">14 796.39</td><td class="Data2">11 552.40</td><td class="Data2">11 626.26</td><td class="Data2">11 914.57</td><td class="Data2">13 058.70</td><td class="Data2">14 033.58</td><td class="Data2">14 079.84</td><td class="Data2">13 137.39</td><td class="Data2">12 634.30</td><td class="Data2">12 314.54</td><td class="Data2">13 705.39</td><td class="Data2">13 369.39</td><td class="Data2">15 915.55</td><td class="Data2">15 852.98</td><td class="Data2">16 026.09</td><td class="Data2">14 821.36</td><td class="Data2">13 621.83</td><td class="Data2">13 446.73</td><td class="Data2">12 437.31</td><td class="Data2">13 747.13</td><td class="Data2">13 408.62</td><td class="Data2">11 975.07</td><td class="Data2">11 006.22</td><td class="Data2">9 387.20</td><td class="Data2">10 502.43</td><td class="Data2">10 287.27</td><td class="Data2">10 902.60</td><td class="Data2">10 054.06</td><td class="Data2">10 169.59</td><td class="Data2">8 799.60</td><td class="Data2">8 854.59</td></tr>,
 <tr class="row3" id="row3"><td class="RowDimLabel" colspan="2">Belgium</td><td class="RowDimLabel"></td><td class="Data">29 728.26</td><td class="Data">30 160.52</td><td class="Data">29 246.31</td><td class="Data">28 515.09</td><td class="Data">29 653.93</td><td class="Data">29 257.02</td><td class="Data">28 612.36</td><td class="Data">27 553.00</td><td class="Data">30 452.69</td><td class="Data">26 761.75</td><td class="Data">28 495.94</td><td class="Data">26 162.18</td><td class="Data">27 641.47</td><td class="Data">28 805.44</td><td class="Data">29 258.73</td><td class="Data">28 994.10</td><td class="Data">27 883.22</td><td class="Data">27 193.62</td><td class="Data">25 089.89</td><td class="Data">25 567.60</td><td class="Data">26 128.80</td><td class="Data">22 705.52</td><td class="Data">22 553.36</td><td class="Data">21 105.22</td><td class="Data">20 114.11</td><td class="Data">20 835.57</td><td class="Data">19 536.72</td><td class="Data">19 682.86</td><td class="Data">19 636.85</td><td class="Data">20 964.21</td><td class="Data">18 984.02</td><td class="Data">18 191.20</td></tr>,
 <tr class="row4" id="row4"><td class="RowDimLabel2" colspan="2">Canada</td><td class="RowDimLabel2"></td><td class="Data2">143 124.25</td><td class="Data2">142 048.26</td><td class="Data2">150 548.23</td><td class="Data2">145 271.42</td><td class="Data2">147 088.43</td><td class="Data2">152 051.16</td><td class="Data2">154 812.86</td><td class="Data2">164 914.57</td><td class="Data2">179 628.96</td><td class="Data2">187 088.41</td><td class="Data2">202 853.73</td><td class="Data2">207 409.01</td><td class="Data2">206 396.17</td><td class="Data2">215 970.66</td><td class="Data2">208 789.50</td><td class="Data2">207 998.47</td><td class="Data2">205 598.97</td><td class="Data2">221 420.43</td><td class="Data2">209 996.54</td><td class="Data2">195 424.15</td><td class="Data2">198 759.64</td><td class="Data2">196 018.22</td><td class="Data2">196 617.91</td><td class="Data2">194 572.74</td><td class="Data2">194 654.05</td><td class="Data2">201 726.36</td><td class="Data2">192 551.44</td><td class="Data2">192 128.84</td><td class="Data2">190 371.46</td><td class="Data2">189 801.73</td><td class="Data2">174 305.55</td><td class="Data2">177 238.08</td></tr>,
 <tr class="row5" id="row5"><td class="RowDimLabel" colspan="2">Chile</td><td class="RowDimLabel"></td><td class="Data">9 037.73</td><td class="Data">7 326.67</td><td class="Data">6 123.20</td><td class="Data">6 519.03</td><td class="Data">7 593.18</td><td class="Data">8 311.26</td><td class="Data">12 247.20</td><td class="Data">13 531.85</td><td class="Data">16 157.13</td><td class="Data">18 383.43</td><td class="Data">15 259.88</td><td class="Data">13 623.53</td><td class="Data">14 711.21</td><td class="Data">16 178.13</td><td class="Data">19 674.56</td><td class="Data">18 924.03</td><td class="Data">19 266.24</td><td class="Data">25 653.19</td><td class="Data">26 377.48</td><td class="Data">24 435.16</td><td class="Data">24 830.60</td><td class="Data">30 556.41</td><td class="Data">32 409.43</td><td class="Data">29 934.64</td><td class="Data">27 208.52</td><td class="Data">30 854.83</td><td class="Data">32 175.82</td><td class="Data">31 628.39</td><td class="Data">30 815.04</td><td class="Data">31 327.32</td><td class="Data">29 841.64</td><td class="Data">..</td></tr>]

Creation of the dataframe :

In [32]:
df = pd.DataFrame(columns=['sector', 'country', 'year', 'GH emissions'])

Test of data extraction for the first sector : Energy Industries

In [33]:
# we extract the data from rows and add them to the dataframe df
for row in tqdm.tqdm(rows):
    cells = row.findAll('td')
    sector = '1A1 - Energy Industries'
    country = cells[0].text
    for i in range(0, 32):
        year = 1990 + i
        GH = cells[i+2].text
        df = pd.concat([df, pd.DataFrame([[sector, country, year, GH]], columns=['sector', 'country', 'year', 'GH emissions'])])

100%|██████████| 64/64 [00:00<00:00, 84.46it/s]

In [34]:
# we print the head of the dataframe
df.head(10)

                    sector    country  year GH emissions
0  1A1 - Energy Industries  Australia  1990   143 172.76
0  1A1 - Energy Industries  Australia  1991   146 396.55
0  1A1 - Energy Industries  Australia  1992   149 719.80
0  1A1 - Energy Industries  Australia  1993   151 492.72
0  1A1 - Energy Industries  Australia  1994   152 307.64
0  1A1 - Energy Industries  Australia  1995   158 140.20
0  1A1 - Energy Industries  Australia  1996   162 742.64
0  1A1 - Energy Industries  Australia  1997   169 413.37
0  1A1 - Energy Industries  Australia  1998   182 065.82
0  1A1 - Energy Industries  Australia  1999   189 654.80

In [35]:
# npage += 1
# xpath_expression = f"//select/option[contains(@value, '{npage}~ENER_')]"
# sector = driver.find_element(By.XPATH, xpath_expression).click()

### Automatisation of the scraping process for the OECD website

Function to scrape the data from the website according to the sector chosen :

In [36]:
# now let's do a function to extract the data from the website starting from npage 2 to npage 8
def extract_data(npage, sector_name, df):
    menu = '//*[@id="PDim_VAR"]' 
    driver.find_element(By.XPATH,menu).click() # menu

    xpath_expression = f"//select/option[contains(@value, '{npage}~ENER_')]"
    driver.find_element(By.XPATH, xpath_expression).click() # page of the secteur
    sleep(7)

    soup = bs(driver.page_source, 'html.parser')
    table = soup.find('table', {'class': 'DataTable'})
    rows = table.findAll('tr', {'id': lambda L: L and L.startswith('row')})

    for row in tqdm.tqdm(rows):
        cells = row.findAll('td')
        country = cells[0].text
        if country == 'Non-OECD Economies':
            country = cells[1].text
            for i in range(0, 32):
                year = 1990 + i
                GH = cells[i+3].text
                df = pd.concat([df, pd.DataFrame([[sector_name, country, year, GH]], columns=['sector', 'country', 'year', 'GH emissions'])])
        else :
            for i in range(0, 32):
                year = 1990 + i
                GH = cells[i+2].text
                df = pd.concat([df, pd.DataFrame([[sector_name, country, year, GH]], columns=['sector', 'country', 'year', 'GH emissions'])])
            
    return df

Extracting the name of the sectors :

In [37]:
# we extract the names of the sectors :
sleep(7)
sectors = []
for i in range(2, 9):
    xpath_expression = f"//select/option[contains(@value, '{i}~ENER_')]"
    sector = driver.find_element(By.XPATH, xpath_expression)
    sectors.append(sector.text)
sectors

['    1A1 - Energy Industries',
 '    1A2 - Manufacturing industries and construction',
 '    1A3 - Transport',
 '    1A4 - Residential and other sectors',
 '    1A5 - Energy - Other',
 '    1B - Fugitive Emissions from Fuels',
 '    1C - CO2 from Transport and Storage']

In [38]:
# in '    1A1 - Energy Industries', we want to keep only 'Energy Industries'. We do that for all the sectors
sectors = [sector.split(' - ')[1] for sector in sectors]
# the sector 'Energy' is re-changed to 'Energy - Other'
sectors[4] = 'Energy - Other'
sectors

['Energy Industries',
 'Manufacturing industries and construction',
 'Transport',
 'Residential and other sectors',
 'Energy - Other',
 'Fugitive Emissions from Fuels',
 'CO2 from Transport and Storage']

In [39]:
# Cleaning the dataframe ...
df = pd.DataFrame(columns=['sector', 'country', 'year', 'GH emissions'])
df

Empty DataFrame
Columns: [sector, country, year, GH emissions]
Index: []

In [40]:
# we extract the data from npage 2 to npage 8
for i in tqdm.tqdm(range(0, 7)):
    df = extract_data(i+2, sectors[i], df)

100%|██████████| 64/64 [00:00<00:00, 90.78it/s]
100%|██████████| 64/64 [00:00<00:00, 78.80it/s]
100%|██████████| 64/64 [00:00<00:00, 71.57it/s]
100%|██████████| 57/57 [00:00<00:00, 63.27it/s]
100%|██████████| 51/51 [00:00<00:00, 59.47it/s]
100%|██████████| 57/57 [00:01<00:00, 55.37it/s]
100%|██████████| 8/8 [00:00<00:00, 51.28it/s]
100%|██████████| 7/7 [00:58<00:00,  8.31s/it]

In [41]:
df.head()

              sector    country  year GH emissions
0  Energy Industries  Australia  1990   143 172.76
0  Energy Industries  Australia  1991   146 396.55
0  Energy Industries  Australia  1992   149 719.80
0  Energy Industries  Australia  1993   151 492.72
0  Energy Industries  Australia  1994   152 307.64

In [48]:
# we search for the lines that have both country = 'OECD - Europe' and sector = 'Fugitive Emissions from Fuels'
df[(df['country'] == 'OECD - Europe') & (df['sector'] == 'Fugitive Emissions from Fuels')].head(10)

                          sector        country  year GH emissions
0  Fugitive Emissions from Fuels  OECD - Europe  1990   184 067.20
0  Fugitive Emissions from Fuels  OECD - Europe  1991   175 467.25
0  Fugitive Emissions from Fuels  OECD - Europe  1992   172 353.00
0  Fugitive Emissions from Fuels  OECD - Europe  1993   170 686.44
0  Fugitive Emissions from Fuels  OECD - Europe  1994   158 913.91
0  Fugitive Emissions from Fuels  OECD - Europe  1995   159 189.67
0  Fugitive Emissions from Fuels  OECD - Europe  1996   154 823.81
0  Fugitive Emissions from Fuels  OECD - Europe  1997   150 382.61
0  Fugitive Emissions from Fuels  OECD - Europe  1998   143 130.36
0  Fugitive Emissions from Fuels  OECD - Europe  1999   139 553.66

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11680 entries, 0 to 0
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sector        11680 non-null  object
 1   country       11680 non-null  object
 2   year          11680 non-null  object
 3   GH emissions  11680 non-null  object
dtypes: object(4)
memory usage: 456.2+ KB

In [50]:
# let's crate a checkpoint for the dataframe df
df.to_csv('data_csv/cp_GH_emissions.csv', index=False)

In [95]:
# we modify a copy of the dataframe imported from the checkpoint
# we import data from the checkpoint 'data_csv/cp_GH_emissions.csv'
df2 = pd.read_csv('data_csv/cp_GH_emissions.csv')
df2.head()

              sector    country  year GH emissions
0  Energy Industries  Australia  1990   143 172.76
1  Energy Industries  Australia  1991   146 396.55
2  Energy Industries  Australia  1992   149 719.80
3  Energy Industries  Australia  1993   151 492.72
4  Energy Industries  Australia  1994   152 307.64

In [96]:
# we convert sector and country to string, year to int and GH emissions to float GH emmissions are currently of the form '123 313.04'"Web Scrapping CM1.docx"
df2['sector'] = df2['sector'].astype(str)
df2['country'] = df2['country'].astype(str)
df2['year'] = df2['year'].astype(int)
df2['GH emissions'] = df2['GH emissions'].astype(str)

In [97]:
df2['GH emissions'] = df2['GH emissions'].replace("..", 'NaN')
df2['GH emissions'] = df2['GH emissions'].str.replace('(B)', '')
df2['GH emissions'] = df2['GH emissions'].str.replace('\xa0', '')

In [98]:
df2['GH emissions'] = df2['GH emissions'].apply(lambda x: float(x) if x != '' else np.nan)

In [99]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11680 entries, 0 to 11679
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sector        11680 non-null  object
 1   country       11680 non-null  object
 2   year          11680 non-null  int32
 3   GH emissions  10268 non-null  float64
dtypes: float64(1), int32(1), object(2)
memory usage: 319.5+ KB