In [1]:
import pandas as pd
import numpy as np
import requests
import os
from dotenv import load_dotenv

In [2]:
load_dotenv()

True

### Get the Latitude and Longitude of each city by using an API

https://api-ninjas.com/api/geocoding

Needs an account to get the API key, 10000 request per month authorized

In [3]:
API_KEY = os.getenv('GEO_API_KEY')

In [4]:
city = 'london'
api_url = f'https://api.api-ninjas.com/v1/geocoding?city={city}'
response = requests.get(api_url, headers={'X-Api-Key': API_KEY})
print(response.status_code)
if response.status_code == requests.codes.ok:
    city_position = response.json()[0]
    print(response.json()[0])
else:
    print("Error:", response.status_code, response.text)

200
{'name': 'London', 'latitude': 51.5073219, 'longitude': -0.1276474, 'country': 'GB', 'state': 'England'}

### Get unique cities in the Dataframe

In [5]:
df_results = pd.read_csv("data_csv/results.csv", sep=",")
df_results

      Place             Pays  Or  Argent  Bronze  Total     Lieu  Annee
0         1       Etats Unis  38      41      34    113    Tokyo   2021
1         2            Chine  36      32      18     86    Tokyo   2021
2         3            Japon  27      12      16     55    Tokyo   2021
3         4  Grande Bretagne  22      21      22     65    Tokyo   2021
4         5           Russie  20      28      23     71    Tokyo   2021
...     ...              ...  ..     ...     ...    ...      ...    ...
1377      6          Hongrie   2       1       3      6  Athènes   1896
1378      7         Autriche   2       1       2      5  Athènes   1896
1379      8        Australie   2       0       1      3  Athènes   1896
1380      9         Danemark   1       2       3      6  Athènes   1896
1381     10           Suisse   1       2       0      3  Athènes   1896

[1382 rows x 8 columns]

In [6]:
df_results = df_results.drop_duplicates()

In [7]:
df_results

      Place             Pays  Or  Argent  Bronze  Total     Lieu  Annee
0         1       Etats Unis  38      41      34    113    Tokyo   2021
1         2            Chine  36      32      18     86    Tokyo   2021
2         3            Japon  27      12      16     55    Tokyo   2021
3         4  Grande Bretagne  22      21      22     65    Tokyo   2021
4         5           Russie  20      28      23     71    Tokyo   2021
...     ...              ...  ..     ...     ...    ...      ...    ...
1377      6          Hongrie   2       1       3      6  Athènes   1896
1378      7         Autriche   2       1       2      5  Athènes   1896
1379      8        Australie   2       0       1      3  Athènes   1896
1380      9         Danemark   1       2       3      6  Athènes   1896
1381     10           Suisse   1       2       0      3  Athènes   1896

[1372 rows x 8 columns]

In [8]:
df_results["Lieu"].unique()

array(['Tokyo', 'Rio de Janeiro', 'Londres', 'Pékin', 'Athènes', 'Sydney',
       'Atlanta', 'Barcelone', 'Séoul', 'Los Angeles', 'Moscou',
       'Montréal', 'Munich', 'Mexico', 'Rome', 'Melbourne', 'Helsinki',
       'Berlin', 'Amsterdam', 'Paris', 'Anvers', 'Stockholm',
       'Saint Louis'], dtype=object)

In [9]:
def get_position(city_list: list):
    city_position_list = []
    for city in city_list:
        city_info = {"Lieu": city}
        api_url = f'https://api.api-ninjas.com/v1/geocoding?city={city}'
        response = requests.get(api_url, headers={'X-Api-Key': API_KEY})
        
        if response.status_code == requests.codes.ok:
            print(response.json()[0])
            city_info.update(response.json()[0])
            city_position_list.append(city_info)
        else:
            print("Error:", response.status_code, response.text)
    
    return pd.DataFrame(city_position_list).rename(columns={"name":"city_name"})

In [10]:
city_position_list = get_position(df_results["Lieu"].unique())

{'name': 'Tokyo', 'latitude': 35.6828387, 'longitude': 139.7594549, 'country': 'JP'}
{'name': 'Rio de Janeiro', 'latitude': -22.9110137, 'longitude': -43.2093727, 'country': 'BR', 'state': 'Rio de Janeiro'}
{'name': 'London', 'latitude': 51.5073219, 'longitude': -0.1276474, 'country': 'GB', 'state': 'England'}
{'name': 'Beijing', 'latitude': 39.906217, 'longitude': 116.3912757, 'country': 'CN', 'state': 'Beijing'}
{'name': 'Athens', 'latitude': 37.9839412, 'longitude': 23.7283052, 'country': 'GR', 'state': 'Attica'}
{'name': 'Sydney', 'latitude': -33.8698439, 'longitude': 151.2082848, 'country': 'AU', 'state': 'New South Wales'}
{'name': 'Atlanta', 'latitude': 33.7489924, 'longitude': -84.3902644, 'country': 'US', 'state': 'Georgia'}
{'name': 'Barcelona', 'latitude': 41.3828939, 'longitude': 2.1774322, 'country': 'ES', 'state': 'Catalonia'}
{'name': 'Seoul', 'latitude': 37.5666791, 'longitude': 126.9782914, 'country': 'KR'}
{'name': 'Los Angeles', 'latitude': 34.0536909, 'longitude': -118.242766, 'country': 'US', 'state': 'California'}
{'name': 'Moscow', 'latitude': 55.7504461, 'longitude': 37.6174943, 'country': 'RU', 'state': 'Moscow'}
{'name': 'Montreal', 'latitude': 45.5031824, 'longitude': -73.5698065, 'country': 'CA', 'state': 'Quebec'}
{'name': 'Munich', 'latitude': 48.1371079, 'longitude': 11.5753822, 'country': 'DE', 'state': 'Bavaria'}
{'name': 'Mexico City', 'latitude': 19.4326296, 'longitude': -99.1331785, 'country': 'MX'}
{'name': 'Rome', 'latitude': 41.8933203, 'longitude': 12.4829321, 'country': 'IT', 'state': 'Lazio'}
{'name': 'Melbourne', 'latitude': -37.8142176, 'longitude': 144.9631608, 'country': 'AU', 'state': 'Victoria'}
{'name': 'Helsinki', 'latitude': 60.1674881, 'longitude': 24.9427473, 'country': 'FI'}
{'name': 'Berlin', 'latitude': 52.5170365, 'longitude': 13.3888599, 'country': 'DE'}
{'name': 'Amsterdam', 'latitude': 52.3727598, 'longitude': 4.8936041, 'country': 'NL', 'state': 'North Holland'}
{'name': 'Paris', 'latitude': 48.8588897, 'longitude': 2.3200410217200766, 'country': 'FR', 'state': 'Ile-de-France'}
{'name': 'Antwerp', 'latitude': 51.2211097, 'longitude': 4.3997081, 'country': 'BE', 'state': 'Antwerp'}
{'name': 'Stockholm', 'latitude': 59.3251172, 'longitude': 18.0710935, 'country': 'SE'}
{'name': 'Saint Louis', 'latitude': 38.6319657, 'longitude': -90.2428756, 'country': 'US', 'state': 'Missouri'}

In [13]:
city_position_list

,Lieu,city_name,latitude,longitude,country,state
0,Tokyo,Tokyo,35.682839,139.759455,JP,NaN
1,Rio de Janeiro,Rio de Janeiro,-22.911014,-43.209373,BR,Rio de Janeiro
2,Londres,London,51.507322,-0.127647,GB,England
3,Pékin,Beijing,39.906217,116.391276,CN,Beijing
4,Athènes,Athens,37.983941,23.728305,GR,Attica
5,Sydney,Sydney,-33.869844,151.208285,AU,New South Wales
6,Atlanta,Atlanta,33.748992,-84.390264,US,Georgia
7,Barcelone,Barcelona,41.382894,2.177432,ES,Catalonia
8,Séoul,Seoul,37.566679,126.978291,KR,NaN
9,Los Angeles,Los Angeles,34.053691,-118.242766,US,California
10,Moscou,Moscow,55.750446,37.617494,RU,Moscow
11,Montréal,Montreal,45.503182,-73.569806,CA,Quebec
12,Munich,Munich,48.137108,11.575382,DE,Bavaria
13,Mexico,Mexico City,19.432630,-99.133178,MX,NaN
14,Rome,Rome,41.893320,12.482932,IT,Lazio
15,Melbourne,Melbourne,-37.814218,144.963161,AU,Victoria
16,Helsinki,Helsinki,60.167488,24.942747,FI,NaN
17,Berlin,Berlin,52.517037,13.388860,DE,NaN
18,Amsterdam,Amsterdam,52.372760,4.893604,NL,North Holland
19,Paris,Paris,48.858890,2.320041,FR,Ile-de-France
20,Anvers,Antwerp,51.221110,4.399708,BE,Antwerp
21,Stockholm,Stockholm,59.325117,18.071093,SE,NaN
22,Saint Louis,Saint Louis,38.631966,-90.242876,US,Missouri

In [14]:
city_position_list.to_csv("data_csv/host_city_position.csv", index=False)