In [2]:
import pandas as pd
import numpy as np
import requests
import os
from dotenv import load_dotenv

In [3]:
load_dotenv()

True

### Get the Latitude and Longitude of each city by using an API

https://api-ninjas.com/api/geocoding

Needs an account to get the API key, 10000 request per month authorized

In [4]:
API_KEY = os.getenv('GEO_API_KEY')

In [5]:
city = 'london'
api_url = f'https://api.api-ninjas.com/v1/geocoding?city={city}'
response = requests.get(api_url, headers={'X-Api-Key': API_KEY})
print(response.status_code)
if response.status_code == requests.codes.ok:
    city_position = response.json()[0]
    print(response.json()[0])
else:
    print("Error:", response.status_code, response.text)

200
{'name': 'London', 'latitude': 51.5073219, 'longitude': -0.1276474, 'country': 'GB', 'state': 'England'}

### Get unique cities in the Dataframe

In [7]:
df_results = pd.read_csv("data_csv/results.csv", sep=",")
df_results

      Place             Pays  Or  Argent  Bronze  Total     Lieu  Annee
0         1       Etats Unis  38      41      34    113    Tokyo   2021
1         2            Chine  36      32      18     86    Tokyo   2021
2         3            Japon  27      12      16     55    Tokyo   2021
3         4  Grande Bretagne  22      21      22     65    Tokyo   2021
4         5           Russie  20      28      23     71    Tokyo   2021
...     ...              ...  ..     ...     ...    ...      ...    ...
1377      6          Hongrie   2       1       3      6  Athènes   1896
1378      7         Autriche   2       1       2      5  Athènes   1896
1379      8        Australie   2       0       1      3  Athènes   1896
1380      9         Danemark   1       2       3      6  Athènes   1896
1381     10           Suisse   1       2       0      3  Athènes   1896

[1382 rows x 8 columns]

In [8]:
df_results = df_results.drop_duplicates()

In [9]:
df_results

      Place             Pays  Or  Argent  Bronze  Total     Lieu  Annee
0         1       Etats Unis  38      41      34    113    Tokyo   2021
1         2            Chine  36      32      18     86    Tokyo   2021
2         3            Japon  27      12      16     55    Tokyo   2021
3         4  Grande Bretagne  22      21      22     65    Tokyo   2021
4         5           Russie  20      28      23     71    Tokyo   2021
...     ...              ...  ..     ...     ...    ...      ...    ...
1377      6          Hongrie   2       1       3      6  Athènes   1896
1378      7         Autriche   2       1       2      5  Athènes   1896
1379      8        Australie   2       0       1      3  Athènes   1896
1380      9         Danemark   1       2       3      6  Athènes   1896
1381     10           Suisse   1       2       0      3  Athènes   1896

[1372 rows x 8 columns]

In [15]:
df_results["Lieu"].unique()

array(['Tokyo', 'Rio de Janeiro', 'Londres', 'Pékin', 'Athènes', 'Sydney',
       'Atlanta', 'Barcelone', 'Séoul', 'Los Angeles', 'Moscou',
       'Montréal', 'Munich', 'Mexico', 'Rome', 'Melbourne', 'Helsinki',
       'Berlin', 'Amsterdam', 'Paris', 'Anvers', 'Stockholm',
       'Saint Louis'], dtype=object)

In [16]:
def get_position(city_list: list):
    city_position_list = []
    for city in city_list:
        city_info = {"City": city}
        api_url = f'https://api.api-ninjas.com/v1/geocoding?city={city}'
        response = requests.get(api_url, headers={'X-Api-Key': API_KEY})
        
        if response.status_code == requests.codes.ok:
            print(response.json()[0])
            city_info.update(response.json()[0])
            city_position_list.append(city_info)
        else:
            print("Error:", response.status_code, response.text)
    
    return pd.DataFrame(city_position_list).rename(columns={"name":"city_name"})

In [18]:
city_position_list = get_position(df_results["Lieu"].unique())

{'name': 'Tokyo', 'latitude': 35.6828387, 'longitude': 139.7594549, 'country': 'JP'}