In [149]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
from time import sleep
import numpy as np

In [62]:
URL = "https://databank.worldbank.org/reports.aspx?source=2&series=NY.GDP.MKTP.CD&country#"

Open the driver

In [65]:
driver = webdriver.Firefox()
driver.get(URL)

# driver.execute_script("window.scrollTo(0, document.body.scrollHeight)")
# driver.execute_script('scrollBy(0, 250)')
driver.execute_script("document.body.style.MozTransform='30%'")
sleep(5)

# element = driver.find_elements(By.XPATH, '//*[@id="grdTableView"]')


# print(element)

# scroll_origin = ScrollOrigin.from_element(element)


# for i in range(60):
#     driver.execute_script("arguments[0].scrollBy(0, 500)", element)
#     time.sleep(2)

# x = driver.find_element(By.NAME, "Download options")
# drop = Select(x)

# # select by visible text
# drop.select_by_visible_text("CSV")

dxgvDataRow_GridDefaultTheme class

select all the years, apply changes, scroll down to the end to have all the countries, zoom out to 30%, scroll to the left ot get the first years.

In [111]:
elements1 = driver.find_elements(By.CLASS_NAME, "dxgvDataRow_GridDefaultTheme")

In [112]:
len(elements1)

266

In [113]:
len(elements1[0].text.split())

58

In [114]:
# begins at 1960
countries_gdp_1 = []
for i in range(len(elements1)):
    # print(i.text.split())
    # print(len(i.text.split()))
    countries_gdp_1.append(elements1[i].text.split())

In [115]:
len(countries_gdp_1[0])

58

In [117]:
countries_gdp_1[0]

['Afghanistan',
 '537,777,811.1',
 '548,888,895.6',
 '546,666,677.8',
 '751,111,191.1',
 '800,000,044.4',
 '1,006,666,637.8',
 '1,399,999,966.7',
 '1,673,333,417.8',
 '1,373,333,366.7',
 '1,408,888,922.2',
 '1,748,886,595.6',
 '1,831,108,971.1',
 '1,595,555,475.6',
 '1,733,333,264.4',
 '2,155,555,497.8',
 '2,366,666,615.6',
 '2,555,555,566.7',
 '2,953,333,417.8',
 '3,300,000,108.9',
 '3,697,940,409.6',
 '3,641,723,322.0',
 '3,478,787,909.1',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '3,825,701,405.5',
 '4,520,946,849.3',
 '5,224,896,718.7',
 '6,203,256,497.1',
 '6,971,758,332.9',
 '9,747,886,104.5',
 '10,109,296,957.7',
 '12,416,152,648.1',
 '15,856,668,496.4',
 '17,805,098,367.3',
 '19,907,329,906.0',
 '20,146,416,876.4',
 '20,497,128,600.3',
 '19,134,221,744.5',
 '18,116,572,399.1']

Scroll to the far right to get the rest of the years

In [118]:
elements2 = driver.find_elements(By.CLASS_NAME, "dxgvDataRow_GridDefaultTheme")

In [119]:
len(elements2)

266

In [120]:
elements2[0].text.split()[-6:]

['18,753,456,506.6',
 '18,053,222,734.9',
 '18,799,444,414.6',
 '19,955,929,060.8',
 '14,266,499,429.9',
 '..']

In [121]:
len(countries_gdp_1)

266

For loop to merge the missing years

In [122]:
# begins at 1967
countries_gdp_2 = []
for i in range(len(elements1)):
    # print(elements2[i].text.split()[-6:])
    countries_gdp_2.append(countries_gdp_1[i] + elements2[i].text.split()[-6:])

In [125]:
len(countries_gdp_2[0])

64

In [128]:
countries_gdp_2[0][-63:]

['537,777,811.1',
 '548,888,895.6',
 '546,666,677.8',
 '751,111,191.1',
 '800,000,044.4',
 '1,006,666,637.8',
 '1,399,999,966.7',
 '1,673,333,417.8',
 '1,373,333,366.7',
 '1,408,888,922.2',
 '1,748,886,595.6',
 '1,831,108,971.1',
 '1,595,555,475.6',
 '1,733,333,264.4',
 '2,155,555,497.8',
 '2,366,666,615.6',
 '2,555,555,566.7',
 '2,953,333,417.8',
 '3,300,000,108.9',
 '3,697,940,409.6',
 '3,641,723,322.0',
 '3,478,787,909.1',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '..',
 '3,825,701,405.5',
 '4,520,946,849.3',
 '5,224,896,718.7',
 '6,203,256,497.1',
 '6,971,758,332.9',
 '9,747,886,104.5',
 '10,109,296,957.7',
 '12,416,152,648.1',
 '15,856,668,496.4',
 '17,805,098,367.3',
 '19,907,329,906.0',
 '20,146,416,876.4',
 '20,497,128,600.3',
 '19,134,221,744.5',
 '18,116,572,399.1',
 '18,753,456,506.6',
 '18,053,222,734.9',
 '18,799,444,414.6',
 '19,955,929,060.8',
 '14,266,499,429.9',
 '..']

In [130]:
countries_gdp_2[3][:-63]

['American', 'Samoa']

For loop:
- takes the 63 years of gdp
- get the name list and merged it to get on full string
- converts the string number to float, and if there is no entry (..) then it will be given a NaN value
- append to the nex country list

In [151]:
list_countries = []
for country in countries_gdp_2:
    
    country_gdp = country[-63:]
    country_name = " ".join(country[:-63])
    country_gdp = [float(x.replace(",","")) if x != ".." else np.nan for x in country_gdp]
    list_countries.append([country_name] + country_gdp)

In [152]:
len(list_countries[3])

64

In [153]:
# save as checkpoint
# pd.DataFrame(list_countries, columns=["country_name"] + list(range(1960,2023))).to_csv("data_csv/country_gdp.csv", index=False, sep=";")

Create Pandas DataFrame with the country gdp list, and the name of the columns

In [154]:
df_gdg_countries = pd.DataFrame(list_countries, columns=["country_name"] + list(range(1960,2023)))

In [155]:
df_gdg_countries

,country_name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,1.373333e+09,...,2.014642e+10,2.049713e+10,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426650e+10,NaN
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10,1.301973e+10,1.515642e+10,1.540183e+10,1.516273e+10,1.793057e+10,1.891638e+10
2,Algeria,2.723615e+09,2.434747e+09,2.001445e+09,2.702982e+09,2.909316e+09,3.136284e+09,3.039859e+09,3.370870e+09,3.852147e+09,...,2.097550e+11,2.138100e+11,1.659792e+11,1.600342e+11,1.700970e+11,1.749107e+11,1.717603e+11,1.457435e+11,1.634724e+11,1.949984e+11
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.380000e+08,6.430000e+08,6.730000e+08,6.710000e+08,6.120000e+08,6.390000e+08,6.470000e+08,7.210000e+08,7.500000e+08,8.710000e+08
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.193513e+09,3.271686e+09,2.789883e+09,2.896612e+09,3.000160e+09,3.218419e+09,3.155150e+09,2.891002e+09,3.325144e+09,3.352031e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Sub-Saharan Africa,2.834930e+10,2.996049e+10,3.190378e+10,3.429368e+10,3.744907e+10,4.069744e+10,4.369289e+10,4.468065e+10,4.754274e+10,...,1.820440e+12,1.901497e+12,1.701777e+12,1.582166e+12,1.714025e+12,1.780680e+12,1.829597e+12,1.715843e+12,1.931458e+12,2.060531e+12
262,Sub-Saharan Africa (excluding high income),2.833851e+10,2.995040e+10,3.189268e+10,3.428135e+10,3.743539e+10,4.068390e+10,4.367871e+10,4.466637e+10,4.752944e+10,...,1.819115e+12,1.900110e+12,1.700385e+12,1.580707e+12,1.712495e+12,1.779092e+12,1.827951e+12,1.714659e+12,1.930172e+12,2.058943e+12
263,Sub-Saharan Africa (IDA & IBRD countries),2.834930e+10,2.996049e+10,3.190378e+10,3.429368e+10,3.744907e+10,4.069744e+10,4.369289e+10,4.468065e+10,4.754274e+10,...,1.820440e+12,1.901497e+12,1.701777e+12,1.582166e+12,1.714025e+12,1.780680e+12,1.829597e+12,1.715843e+12,1.931458e+12,2.060531e+12
264,Upper middle income,2.361364e+11,2.204908e+11,2.220237e+11,2.422683e+11,2.800665e+11,3.149861e+11,3.452335e+11,3.517173e+11,3.657436e+11,...,2.126849e+13,2.187459e+13,2.056000e+13,2.051005e+13,2.268671e+13,2.437603e+13,2.483209e+13,2.395941e+13,2.893325e+13,3.060946e+13
265,World,1.381135e+12,1.446356e+12,1.546369e+12,1.670666e+12,1.832616e+12,1.994519e+12,2.161645e+12,2.308597e+12,2.491805e+12,...,7.771472e+13,7.983716e+13,7.528327e+13,7.651898e+13,8.148410e+13,8.654268e+13,8.777740e+13,8.525774e+13,9.752968e+13,1.013257e+14

In [156]:
df_gdg_countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_name  266 non-null    object
 1   1960          126 non-null    float64
 2   1961          127 non-null    float64
 3   1962          128 non-null    float64
 4   1963          128 non-null    float64
 5   1964          128 non-null    float64
 6   1965          140 non-null    float64
 7   1966          143 non-null    float64
 8   1967          146 non-null    float64
 9   1968          151 non-null    float64
 10  1969          151 non-null    float64
 11  1970          160 non-null    float64
 12  1971          163 non-null    float64
 13  1972          163 non-null    float64
 14  1973          163 non-null    float64
 15  1974          164 non-null    float64
 16  1975          166 non-null    float64
 17  1976          167 non-null    float64
 18  1977          170 non-null    float64
 19  1978          169 non-null    float64
 20  1979          170 non-null    float64
 21  1980          183 non-null    float64
 22  1981          187 non-null    float64
 23  1982          189 non-null    float64
 24  1983          191 non-null    float64
 25  1984          193 non-null    float64
 26  1985          195 non-null    float64
 27  1986          197 non-null    float64
 28  1987          201 non-null    float64
 29  1988          207 non-null    float64
 30  1989          211 non-null    float64
 31  1990          226 non-null    float64
 32  1991          225 non-null    float64
 33  1992          228 non-null    float64
 34  1993          230 non-null    float64
 35  1994          232 non-null    float64
 36  1995          241 non-null    float64
 37  1996          241 non-null    float64
 38  1997          241 non-null    float64
 39  1998          242 non-null    float64
 40  1999          243 non-null    float64
 41  2000          247 non-null    float64
 42  2001          249 non-null    float64
 43  2002          254 non-null    float64
 44  2003          254 non-null    float64
 45  2004          254 non-null    float64
 46  2005          254 non-null    float64
 47  2006          255 non-null    float64
 48  2007          255 non-null    float64
 49  2008          256 non-null    float64
 50  2009          256 non-null    float64
 51  2010          257 non-null    float64
 52  2011          260 non-null    float64
 53  2012          258 non-null    float64
 54  2013          259 non-null    float64
 55  2014          260 non-null    float64
 56  2015          258 non-null    float64
 57  2016          258 non-null    float64
 58  2017          258 non-null    float64
 59  2018          258 non-null    float64
 60  2019          258 non-null    float64
 61  2020          257 non-null    float64
 62  2021          256 non-null    float64
 63  2022          243 non-null    float64
dtypes: float64(63), object(1)
memory usage: 133.1+ KB